<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.shazshah.macpro.jarvissendsms</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/bin/python3.5</string>
        <string>/Users/shazshah/Documents/scripts/jarvis-send-sms/jarvis-send-sms.py</string>
    </array>
    <key>StartCalendarInterval</key>
    <array>
        <dict>
            <key>Hour</key>
            <integer>07</integer>
            <key>Minute</key>
            <integer>40</integer>
        </dict>
        <dict>
            <key>Hour</key>
            <integer>07</integer>
            <key>Minute</key>
            <integer>45</integer>
        </dict>
        <dict>
            <key>Hour</key>
            <integer>07</integer>
            <key>Minute</key>
            <integer>50</integer>
        </dict>
        <dict>
            <key>Hour</key>
            <integer>07</integer>
            <key>Minute</key>
            <integer>55</integer>
        </dict>
        <dict>
            <key>Hour</key>
            <integer>08</integer>
            <key>Minute</key>
            <integer>00</integer>
        </dict>
        <dict>
            <key>Hour</key>
            <integer>08</integer>
            <key>Minute</key>
            <integer>05</integer>
        </dict>
        <dict>
            <key>Hour</key>
            <integer>08</integer>
            <key>Minute</key>
            <integer>10</integer>
        </dict>
        <dict>
            <key>Hour</key>
            <integer>08</integer>
            <key>Minute</key>
            <integer>15</integer>
        </dict>
        <dict>
            <key>Hour</key>
            <integer>08</integer>
            <key>Minute</key>
            <integer>20</integer>
        </dict>
        <dict>
            <key>Hour</key>
            <integer>08</integer>
            <key>Minute</key>
            <integer>25</integer>
        </dict>
        <dict>
            <key>Hour</key>
            <integer>08</integer>
            <key>Minute</key>
            <integer>30</integer>
        </dict>
        <dict>
            <key>Hour</key>
            <integer>08</integer>
            <key>Minute</key>
            <integer>35</integer>
        </dict>
        <dict>
            <key>Hour</key>
            <integer>08</integer>
            <key>Minute</key>
            <integer>40</integer>
        </dict>
    </array>
</dict>
</plist>